@charset "utf-8";
#menu1 ul{
    width: 500px;
    margin:0 auto;
    overflow:hidden;
}

#menu1 ul li{

    float:left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #white
}
#menu1 ul li a{
    display: block;
}
#menu1 ul li a:hover{
    background:white;
    color:#37497a
}
li{
    color:black;
}